export DefaultModule=fcitx
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS="@im=fcitx"

export TERMINAL="alacritty"

if [ "${DESKTOP_SESSION}" = "xmonad" ]; then
    fcitx &
    ibus-daemon --xim &
    ibus-setup
fi
setxkbmap -layout jp
xsetroot -cursor_name left_ptr
